.unique-color {
  background-color: #3f729b!important;
}
navbar{
   background-color: #3f729b!important; 
}
.navbar {
  background-color: #3f729b!important; 
}
.navbar-dark {
  background-color: #3f729b!important; 
}
.colx {
  background-color: #3f729b!important; 
}
.navbar-red {
  background-color: red!important; 
}
.nav-item  {
  cursor: pointer !important;
}
.nav-link {
   cursor: "pointer";
}