tbody div{
    overflow:scroll;
    height:100px;
}

.custom-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color:lightgreen;
    border: 2px solid white;
    color:white;
    font-size:20px;
    text-align:center;
  }